<ion-header>
    <ion-toolbar>
      <ion-title>Header Toolbar</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-button  id="open-toast" expand="block">Generar Toast</ion-button> <ion-button expand="full">Full</ion-button>
    <p id="message">Inicia Sesión</p>
    <ion-toast trigger="open-toast" message="This toast will disappear after 5 seconds" [duration]="5000"></ion-toast>




    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="email" required></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button expand="block" color="primary">Login</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Footer Toolbar</ion-title>
    </ion-toolbar>
  </ion-footer>